* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}
.cofe1{
    margin: 100px 15px 0 100px ;
    width: 200px;
    height: 300px;
    display:inline-block;
    border-style: double;
    border-color: rgba(112, 128, 144,0.2); 
       
}
.cofe1 .cofe{
    width: 100%;
    height: 150px;
}
.metn1{
    margin:10px 10px;
    font:0.9rem arial,sans-serif;
}
.metn2{
    margin: 10px 10px 0px;
}
.buton1{
    
    margin-left: 10px;
    margin-bottom:10px;  
}
.buton1 button{
   background-color: rgba(255, 255, 255,0.1);
   border-color: rgba(240, 248, 255,0.3);
   padding:5px;
   
}

.sebet{
    background-color: #f43d49;
    color: white;
    margin-left: 10px;
    padding: 9px; 
    border-radius: 5px;
    border-style: none;
}
.sebet:hover{
    background-color: #c57076;
}
